* {
 box-sizing: border-box;

}



.none {
 display: none;   
}

img {
 width: 100%;   
}


nav {
 background-color: black; 
    display: block;
    position: fixed;
    width: 100vw;
    height: 77px;
    z-index: 105;
/*    border: 3px solid red;*/

}

nav ul {
margin: 0 auto;
    width: 320px;
   height 82px;

}

nav ul li {
 display: inline-block;
    font-size: .85em;
    padding: 4px;
/*    border: 2px solid white;*/
    flex-flow: row;
vertical-align: middle;
    margin: 0 auto;
    
}

nav ul li:first-child  {
    border: none;
    margin-right: 4px;
    padding: 
}



a {
 text-decoration: none; 
}

li a {
 color: white;   
font-family: 'PT Sans', sans-serif;
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
 
}



#main-wrapper {
 width: 100%;
}




#text-wrapper {
width: 94%;
margin: 0 auto;   
    font-size: 1.1em;
    line-height: 1.3em;
font-family: 'PT Sans', sans-serif;
}

#text-wrapper p {
 -webkit-margin-before: 1.5em;
-webkit-margin-after: 1.55em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;   
    color: #383838;
    
}

picture.remove {
 display: none;   
    
}


h2, h3, h4 {
text-align: center; 
/*font-family: 'Montserrat', sans-serif;*/
font-family: 'Playfair Display', serif;
color: #d64d2b;
-webkit-margin-before: 1.4em;
-webkit-margin-after: 1.2em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px; 
}


h2 {
font-size: 1.65em;      
}


h3 {
font-size: 1.3em;   
}

h4 {
font-size: 1.2em;   
}



#matthewimage {
max-width: 260px;
margin: 0 auto;
}


#matthewimage img {
border-radius: 5%;    
}

#pricing {
display: inline-block;
width: 110px;
height: 35px;
color: #d64d2b;
text-align: center;
margin: 0 auto;
padding: 3.5px;
margin-top: -18px;
font-size: .9em;
border-color: #d64d2b;
border-style: solid;
border-width: 3px;
}

.reviewimg {
 width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: orange;
    margin: 0 auto; 
}

blockquote {

font-size: .85em;
line-height: 1.5em;
font-style: italic;
    
}

.monthlyprice {

width: 110px;
height: 110px;
border-radius: 100%;
background-color: black;
margin: 0 auto;  
text-align: center;
vertical-align: middle;
line-height: 110px;
color: white;
font-family: 'PT Sans', sans-serif;
}


.emailinquiry {

width: 150px;
height: 35px;
color: #d64d2b;
text-align: center;
margin: 0 auto;
padding:3.5px;
font-size: .9em;
border-color: #d64d2b;
border-style: solid;
border-width: 2px;  
margin-top: 15px;
}

.iconcontact { 
width: 70px;
height: 70px;
margin: 30px auto;     
}

#phoneiconcontact { 
width: 70px;
height: 70px;
}

#phoneiconcontact { 
width: 70px;
height: 70px;
    margin: 0 auto;
}

#contact h4 {
 color: black;
    font-size: 1.1em;
    margin-top: 10px;
}

.main-footer {
text-align: center;
font-size: .7rem;
box-shadow: 0px 0px 5px #d64d2b; 
-webkit-box-shadow: 0px 0px 5px #d64d2b; 
-moz-box-shadow: 0px 0px 5px #d64d2b;
padding: 6px;
background-color: #FCFCFC;
color: black;
display: block;
width: 70%;
margin: 0 auto;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

iframe {
 margin: 0 auto;   
  width:  100%  
}
 


#home, #contact h4 {
display: none;      
}

pricing {
 display: none;  
}

  .tech-slideshow {
        height: 300px;
        position: relative;
        overflow: hidden;
    }
    .tech-slideshow > div {
        height: 300px;
        width: 2526px;
        background: url(../images/longphoto3.jpg);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        
        -moz-transition:  opacity 0.5s ease-out; 
           -o-transition: opacity 0.5s ease-out; 
      -webkit-transition: opacity 0.5s ease-out; 
          -ms-transition: opacity 0.5s ease-out; 
    
        /* Slow */
        -webkit-animation: moveSlideshow 60s linear infinite;
        -moz-animation:    moveSlideshow 60s linear infinite;
        
        -webkit-transform: translate3d(0,0,0); /* Performance */
    
    }
    .tech-slideshow #tech-slideshow-1 {
        /* Sprite */
        background-position: 0 300px;
        
        /* Fast */
        -webkit-animation: moveSlideshow 20s linear infinite;
        -moz-animation:    moveSlideshow 20s linear infinite;
    }
    .tech-slideshow:hover #tech-slideshow-2 {
        opacity: 0;
    }
    
    @-webkit-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
    @-moz-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
    
    .page-wrap { 
  width: 100%;
  max-width: 842px; 
  background: white;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.page-wrap:before, .page-wrap:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 20px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,100), rgba(255,255,255,0));
}
.page-wrap:before {
  left: 0;
}
.page-wrap:after {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,100));
}

 .mobile-hide {
  display: none;   
     
 }

.center {
    
 text-align: center;   
}




@media only screen and (min-width: 690px) {
    
    
#teachercontainer, #pricingcolumn {
display: -webkit-flex;
display: flex;
width: 100%;
    }
    

    
#matthewimage {
max-width: 40%;
padding-top: 25px;
margin-right: 20px;
    }
    
#teacherinfo {
width: 60%;
    }
    
#beginnertuition, #intermediatetuition, #advancedtuition {
width: 33.3333333%; 
    }

#opening h2 {           
font-size: 1em;
text-decoration: none;
font-family: 'Playfair Display', serif;
}
    
    #contact h4 {
 color: black;
    font-size: 1.3em;
        display: inherit;
}
}



@media only screen and (min-width: 790px) {
 
    
#intro p {
 font-size: 2.5em;
    line-height: 2.75em;
    
}
    
 .desktop-hide {
  display: none;   
     
 }
    
    .mobile-hide {
        
     display: inherit;   
    }

    
    
#text-wrapper p {  
font-size: 1.1em;
line-height: 1.35em;   
 }
    
blockquote {

font-size: .9em;
line-height: 1.3em;
font-style: italic;
    
}
    
nav {
    display: -webkit-flex;
    display: inline-flex;
    margin-top: 0;
height: 95px;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
    background: transparent;
}
    
nav ul {
display: inline-block;
   margin: auto;
    width: inherit;
    text-align: right;
}
nav ul li {
    display: inline-block;
     font-size: 20px;   
padding: 15px;
    }
nav ul li:last-child {
 padding-right: 15px;  
}
    
#logo {
    height: 85px;
    width: 85px;
margin-left: 15px;
    margin-top: 5px;
    display: inline-block;
    margin-right: auto;
    
}
    
 
    
nav.sticky {
     background-color: hsla(0, 0%, 0%, 0.62);
    background-image: none;
        
    }
    
    
    
        #contact h4 {
 color: black;
    font-size: 1.5em;
            margin-top: 14px;
}
    
  
article {
background-color: #E8E8E8;
padding: 20px 50px 60px 50px;
margin: 0 auto;
color: black;
    width: 100%;
}
.content {
width: 700px;
    margin: 0 auto;
        align-content: center;
    }
    
    
#home {
max-width: 100%;
height: 100vh; 
position: relative;
display: inherit;
opacity: none;
}
    
#main-wrapper {

width: 100vw;
display: flex;
margin-left: auto;
background: url(../images/pianoimage2.jpg) no-repeat center center fixed;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
max-width: 100%;
height: auto;
}

#text-wrapper {
width: 100%;
margin: 0 auto;
}


#main-wrapper {
display: block;   
}

#matthewimage {
max-width: 35%;
}
    
#teacherinfo {
width: 65%;
}


nav ul li a {
color: white; 
-webkit-transition: all 3s ease-in-out;
-moz-transition: all 3s ease-in-out;
-o-transition: all 3s ease-in-out;
transition: all 3s ease-in-out;
    font-size: .7em;
}
    
    
    
aside.revise {
display: none;
}
    
#second {
order: 2;      
}
    
#third {
order: 2;      
}
    
    /* Shrink */
    
a.hvr-shrink {
    
display: flex;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
margin: 0 auto;
}
    
a.hvr-shrink:hover, a.hvr-shrink:focus, a.hvr-shrink:active {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}
    
.contactrow {
display: -webkit-flex;
display: flex;
width: 70%; 
    margin: 0 auto;
}
    
a.contacticon {
width: 33.3333333%;  
}
    

    
.iconcontact { 
width: 70px;
height: 70px;
}
    
#phoneiconcontact { 
width: 30px;
height: 30px;
    margin: 0 auto;
}
    
#opening h2 {           
font-size: 2.4em;
text-decoration: none;
    padding: 0;
}

#opening {
    
background-color: transparent;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
height: 500px;
/*    max-width: 900px;*/
    
}
    
#statement {
        
width: 95%;
margin: 0 auto;
color: #d64d2b;
}
    
#statement h2 {
        
color: white;
-webkit-margin-before: 2em;
-webkit-margin-after: .4em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px; 
font-family: 'Playfair Display', serif;
        
}

#opening p {
text-align: center;
font-size: 1em;
line-height: 1.2em;
font-family: 'PT Sans', sans-serif;
margin: 0 auto;
font-weight: bolder;
color: #d64d2b;
/*
         background-color: #d64d2b;
         border-radius: 5px;
*/
     }
    
    
#learn {
width: 175px;
height: 45px;
padding: 10px 40px 10px 40px;
background-color: hsla(0, 0%, 0%, 0.62);
font-size: 1em;
margin: 75px auto 0 auto;
color: white;
}
    
    
}

@media only screen and (min-width: 990px) {
    
#lessoncolumn, .reviewcolumn {
display: -webkit-flex;
display: flex;
width: 100%;
}
    
.reviewcolumn {
 
margin: 70px auto 80px auto;
    
}
    
/*
.lessondescription {
width: 33.3333333%; 
padding: 0 20px;
}
*/

.review1 {
width: 25%;
    
}
    
    .review2 {
width: 75%;
    
}
    
#opening h2 {           
font-size:2.5em;
}

#opening p {
 font-size: 1.1em;   
}
    
}

@media only screen and (min-width: 1100px) {
    
  #opening h2 {           
font-size: 3em;
} 
    
}

@media only screen and (min-width: 1350px) {
    
#opening h2 {           
font-size: 3.8em;
} 
        
#opening p {
 font-size: 1.2em;   
}

}
        
@media only screen and (min-width: 1550px) {
    
#opening h2 {           
font-size: 4em;
    }
#opening p {
 font-size: 1.3em;   
}             
     
    
}