* {
 box-sizing: border-box;
/*border: 2px solid red;*/
}

/**************************************************
***************************************************
Navigation Bar Styling 
***************************************************
**************************************************/

/*
nav {
 background-color: black; 
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 77px;
    z-index: 105;
}


nav ul li {
display: inline-block;
font-size: .75em;
padding: 5px;
vertical-align: middle;
}

*/

li a {
color: white;   
font-family: 'Open Sans', sans-serif;
    text-align: right;
}

#logo {
    width: 65px;
    height: 65px;
    border-radius: 10px;
   margin: 1px auto 0 1px;
}

nav {
  background-color: black; 
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 77px;
    z-index: 105;  
}

nav ul {
/* width: 100%;   */
  display: -webkit-flex;
display: flex;

}

nav ul li {
 width: 20%;
    display: -webkit-flex;
     -webkit-align-self: center;
    align-self: center;
    align-self: center;
    font-size: .8em;
padding: 5px;
}
nav ul li:first-child {
 margin-right: 15px;   
}


/**************************************************
***************************************************
Main wrapper styling
***************************************************
**************************************************/

.none {
 display: none;   
}

img {
 width: 100%;   
}


.cover {
display: none;  
}


.text-wrapper {
font-family: 'Open Sans', sans-serif;
}

/*
#text-wrapper p {
 -webkit-margin-before: 1.5em;
-webkit-margin-after: 1.55em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;   
width: 90%;
margin: 0 auto;
}
*/



h2, h3, h4 {
text-align: center; 
font-family: 'Playfair Display', serif;
color: #d64d2b;
-webkit-margin-before: .1em;
-webkit-margin-after: 1.25em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px; 
}


h2 {
font-size: 1.25em;      
}

h3, h4 {
font-size: 1.2em;   
}


#contact h4 {
 color: black;
    font-size: 1.1em;
    margin-top: 10px;
}

.main-footer {
text-align: center;
font-size: .7rem;
padding: 2px;
background-color: #DEDEDE;
color: grey;
display: block;
width: 100%;
margin: 0 auto;
}

.main-footer-contact {
text-align: center;
font-size: .7rem;
padding: 30px;
background-color: #DEDEDE;
color: grey;
display: block;
width: 100%;
margin: 0 auto;
}

#home {
display: none;      
}
.home2 {
 display: none;   
}

article {
width: 90%; 
margin: 0 auto;
}

.mobile-hide {
  display: none;   
}

.center {
    
 text-align: center;   
}



iframe {
 width: 100%;
    margin-bottom: 20px;
}

.formatting, .formatting-header, .formatting-header2 {
        width: 95%;
        padding: 10px 0px 10px 0px;  
        margin: 0 auto;
        font-size: 1.15em;
        line-height: 1.35em;
    color: #5E5E5E;
    }

a {
 text-decoration: none; 
    color: #d64d2b;
}

a:hover{
color: #d64d2b;
    text-decoration: none;
 
}

a:active{
color: #d64d2b;
    text-decoration: none;
}

a:visited {
    
 text-decoration: none;   
}

a:focus {
 outline: none;   
}

a.active {
color: #d64d2b;
    text-decoration: none;

}

.first::first-letter {
    font-size: 350%;
    color: #d64d2b;
    float: left; 
 line-height: 35px;
 padding-top: 13px; 
 padding-right: 6px;
    padding-bottom: 10px;
font-family: 'Playfair Display', serif;
}

/**************************************************
***************************************************
Review and Contact Sections - MOBILE
***************************************************
**************************************************/

.contact-text {
        font-size: 1.25em;
        text-align: center;
           color: #757575;
    margin: 15px auto;
    font-family: 'Open Sans', sans-serif;
        }

.tuition-text3 {
margin: 50px auto 50px auto;
font-size: 3.75em;
text-align: center;
    font-family: 'Open Sans', sans-serif;
 color: #d64d2b;    
}

.dollar {
 font-size: .5em;   
  color: #d64d2b; 
vertical-align: super;
}

.month {
 font-size: .25em;   
    
}

.study-type {
 font-size: .85em;
font-style: italic;
color: black;
  text-align: center;
}

p.tuition-header {
     color: grey;
        font-size: 3em;
        margin: 0 auto;
    text-align: center;
    }
   
.mask { 
 height: 1px; 
    margin: 25px auto 0 auto;
      width:75%; 
border-radius: 1px;
/*      box-shadow:0 0 2px black;*/
    border-bottom: 1px solid #BCBCBC;
    }

.mask2 { 
 height: 1px; 
    margin: 30px auto 40px auto;
      width:95%; 
border-radius: 1px;
/*      box-shadow:0 0 2px black;*/
    border-bottom: 1px solid #BCBCBC;
    }
     
.tuition-text {
margin: 0 auto;
text-align: center;
font-size: 1em;
color: #757575;
width: 80%;
max-width: 300px;
    text-align: left;
}

.who-for {
 font-size: 1em;
font-weight: bold;
color: #d64d2b;
font-family: 'PT Sans Narrow', sans-serif;
}

.small-cap {
font-family: 'Playfair Display SC', serif;   
font-size: .85em;
color: #d64d2b;
}

.map-for {
 font-size: 1.25em;
color: #d64d2b;
font-family: 'PT Sans Narrow', sans-serif;
text-align: center;
}

.tuition-box {
 margin: 40px auto;  
padding: 25px 5px 25px 5px; 
    
}
.review-text3 {
     margin: 40px auto 40px auto;
        font-size: 2.5em;
        text-align: center;
font-family: 'PT Sans Narrow', sans-serif;
}
    
    
.review-text3 {  
     color: #d64d2b;   
    }

.review-text, .review-text-name {
     margin: 0 auto;
        text-align: center;
font-size: 1.15em;
        color: #757575;
        max-width: 90%;
        }
.review-text-name {
 margin-top: 40px;   
}
/**************************************************
***************************************************
Images and Icons
***************************************************
**************************************************/


#matthewimagemobile {
max-width: 360px;
margin: 30px auto 10px auto;
}

.iconcontact { 
width: 40px;
height: 40px;
margin: 30px auto;     
}
.iconcontact1 {
width: 40px;
height: 40px;
margin: 0 auto;    
}

.iconcontact-footer {
    
width: 40px;
height: 40px;
margin: 0 auto;
}

.iconcontact-review {
    
width: 60px;
height: 60px;
margin: 0 auto;   
}



.reviewimg {
 width: 125px;
    height: 125px;
    border-radius: 100%;
    background-color: orange;
    margin: 0 auto; 
}

#contact-footer {
 display: -webkit-flex;
display: flex;
width: 70%;
    max-width: 200px;
/*background-color: white;*/
padding: 0;
    margin: 40px auto;
    
}
    
    .footer-box {
width: 33.3333333%;
    }

#contact-matt {
 height: 150px;
    width: 150px;
    border-radius: 100%;
background: url(../images/matt-contact.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
    margin: 0 auto 20px auto;
    
    
}


/**************************************************
***************************************************
Pricing Page Layout Styling
***************************************************
**************************************************/


.monthlyprice {

width: 110px;
height: 110px;
border-radius: 100%;
background-color: black;
margin: 0 auto;  
text-align: center;
vertical-align: middle;
line-height: 110px;
color: white;
}



#pricing {
display: inline-block;
width: 110px;
height: 35px;
color: #d64d2b;
text-align: center;
margin: 0 auto;
padding: 3.5px;
margin-top: -18px;
font-size: .9em;
border-color: #d64d2b;
border-style: solid;
border-width: 3px;
}


/**************************************************
***************************************************
Scrolling Image Slideshow
***************************************************
**************************************************/

#tech-slideshow {
        height: 300px;
        position: relative;
        overflow: hidden;
    }
    #tech-slideshow > div {
        height: 300px;
        width: 2526px;
        background: url(../images/longphoto3.jpg);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        
        -moz-transition:  opacity 0.5s ease-out; 
           -o-transition: opacity 0.5s ease-out; 
      -webkit-transition: opacity 0.5s ease-out; 
          -ms-transition: opacity 0.5s ease-out; 
    
        /* Slow */
        -webkit-animation: moveSlideshow 60s linear infinite;
        -moz-animation:    moveSlideshow 60s linear infinite;
        
        -webkit-transform: translate3d(0,0,0);  Performance 
    
    }
    #tech-slideshow #tech-slideshow-1 {
        /* Sprite */
        background-position: 0 300px;
        
        /* Fast */
        -webkit-animation: moveSlideshow 20s linear infinite;
        -moz-animation:    moveSlideshow 20s linear infinite;
    }
    #tech-slideshow:hover #tech-slideshow-2 {
        opacity: 0;
    }
    
    @-webkit-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
    @-moz-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }

#page-wrap { 
  width: 100%;
  max-width: 842px; 
  background: white;
  margin: 50px auto;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#page-wrap:before, #page-wrap:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 20px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,100), rgba(255,255,255,0));
}
#page-wrap:before {
  left: 0;
}
#page-wrap:after {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,100));
}

.contact-box {
width: 90%;   
padding: 20px 30px 20px 30px;  
    margin: 50px auto;
    }

    .light-color-mobile {
 background-color: #F5F5F5;   
    
}
    
.medium-color-mobile {
 background-color: #EBEBEB;   
    
}
    
.dark-color-mobile {
 background-color: #DEDEDE;   
}

.blockquote {
font-family: Georgia, serif;
font-size: .95em;
font-style: italic;
width: 90%;
    max-width: 500px;
margin: 50px auto 0.25em auto;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #757575;
}
    
.blockquote:before {
display: block;
content: "\201C";
font-size: 5em;
position: absolute;
left: -20px;
top: -35px;
color: #d64d2b;
}
.blockquote cite {
color: #999999;
font-size: .9em;
display: block;
margin-top: 5px;
}
 
.blockquote cite:before {
content: "\2014 \2009";
}
    

.blockquote-review {
    font-family: 'Open Sans', sans-serif;
font-size: .95em;
font-style: normal;
/*margin: 50px auto 0.25em auto;*/
padding: 0.25em 0;
line-height: 1.55;
position: relative;
color: #757575;
}
    
.blockquote-review:before {
    font-family: Georgia, serif;
display: block;
content: "\201C";
font-size: 5em;
position: absolute;
left: -35px;
top: -35px;
color: #d64d2b;
}
.blockquote-review cite {
color: #999999;
font-size: .75em;
display: block;
margin-top: 5px;
    font-style: normal;
}
 
.blockquote-review cite:before {
content: "\2014 \2009";
}


/**************************************************
***************************************************
MEDIA QUERY - Above 690 PX - TABLETS
***************************************************
**************************************************/

@media only screen and (min-width: 690px) {
    
    
#pricingcolumn {
display: -webkit-flex;
display: flex;
       width: 100vw; 
    }
    
    
#beginnertuition, #intermediatetuition, #advancedtuition {
width: 33.3333333%; 
    }

#opening h2 {           
font-size: 3em;
text-decoration: none;
font-family: 'Playfair Display', serif;
}
    
    #contact h4 {
 color: black;
    font-size: 1em;
        display: inherit;
}
    
    nav ul li {

    font-size: 1.25em;

    }

}

/**************************************************
***************************************************
MEDIA QUERY - Above 790 PX  DESKTOP
***************************************************
**************************************************/


@media only screen and (min-width: 790px) {
    
/**************************************************
Navigation Bar Styling
**************************************************/

 nav {
display: -webkit-flex;
display: flex;
margin-top: 0;
height: 95px;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
background: transparent;
/*     clear: right;*/
}
    
nav ul {
display: -webkit-flex;
display: inline-flex;
margin-left: auto;
}
    
nav ul li {
display: -webkit-flex;
display: inline-flex;
font-size: 1em;   
padding: 15px;
    -webkit-align-self: center;
    align-self: center;
    width: auto;
}
    
/*
nav ul li:first-child  {
    margin-right: auto;
}
*/

#logo {
    height: 84px;
    width: 70px;
margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
    margin-right: auto;
    border-radius: 5px;
}
    
nav.sticky {
background-color: hsla(0, 0%, 0%, 0.62);
background-image: none;
    }
    
nav ul li a {
    display: -webkit-flex;
color: white; 
/*
-webkit-transition: all 3s ease-in-out;
-moz-transition: all 3s ease-in-out;
-o-transition: all 3s ease-in-out;
transition: all 3s ease-in-out;
*/

}
    


nav h2.hide {
     display: none; 
    }

/**************************************************
Main-Wrapper Styling TYPE/COLOR/HOVER/DESKTOP-MOBILE HIDE
**************************************************/
 



    
.desktop-hide {
  display: none;   
     
 }
    
.mobile-hide {
    display: inherit;   
    }

    
.blockquote {
font-family: Georgia, serif;
font-size: .95em;
font-style: italic;
width: 500px;
margin: 50px auto 0.25em auto;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;

}
    
.blockquote:before {
display: block;
content: "\201C";
font-size: 5em;
position: absolute;
left: -20px;
top: -35px;
color: #d64d2ba;
}
.blockquote cite {
color: #999999;
font-size: .9em;
display: block;
margin-top: 5px;
}
 
.blockquote cite:before {
content: "\2014 \2009";
}
    
    .blockquote-review {

padding: 70px 10px;
font-size: 1em;
line-height: 1.65;
font-style: italic;
    }
    
    .blockquote-review:before {
left: -50px;
top: 15px;
    }
    
#contact h4 {
color: black;
font-size: 1em;
margin-top: 14px;
}
    
article {
padding: 50px 20px 50px 20px;
width: 100%;
}
    
    #iframe {
/*margin: 0 auto;*/
width: 100%;
}

      
.iconcontact { 
width: 40px;
height: 40px;
}
    
#phoneiconcontact { 
width: 40px;
height: 40px;
    margin: 0 auto;
}
    
    .light-color {
 background-color: #F5F5F5;   
    
}
    
.medium-color {
 background-color: #EBEBEB;   
    
}
    
.dark-color {
 background-color: #DEDEDE;   
}
    
#contact {
 display: none;   
    
}
    
    .contact-text {
        font-size: 2em;
    margin: 45px auto;
        }

    
    

    
        
/**************************************************
HOVER and ANIMATION FEATURES
**************************************************/
    
/* Shrink on HOVER */
    
a.hvr-shrink {
    
display: flex;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
margin: 0 auto;
}
    
a.hvr-shrink:hover, a.hvr-shrink:focus, a.hvr-shrink:active {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}
    
/**************************************************
REVIEW PAGE STYLING
**************************************************/

  .review-block1 {
width: 66.666667%;
/*padding: 80px;  */

    
}  
#review-block3 {
width: 33.3333333%;
background: url(../images/review1.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

            }
    
    #review-block4 {
        width: 33.3333333%;
background: url(../images/review-block4.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
            }
    
    #review-block5 {
        width: 33.3333333%;
background: url(../images/reviewcover.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
            }
    
        #contact-transparency {
        width: 33.3333333%;
background: url(../images/Contact-Transparency.gif) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
            }
    
/*
    .review-text {
        font-size: 1em;
    }
*/
    
    
    /**************************************************
***************************************************
Page Break images "COVER"
***************************************************
**************************************************/
    
.cover {
display: inherit;
margin: 0 auto;
width: 100%;
height: 75vh;
padding: 0;
    }
    
#cover3 {
     background: url(../images/lessoncover.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}
    
    #cover5 {
     background: url(../images/cover5.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}
    
        #cover6 {
     background: url(../images/cover6.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}

#reviewcover {
         background: url(../images/reviewcover.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;  
    
}
    
    #cover1 {
background: url(../images/cover1-1.jpg)no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
}

#cover2 {
background: url(../images/cover1.jpg)no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
}
  
     
    /**************************************************
***************************************************
FLEXBOX - PAGE DESCIPTION AND RESPONSIVE SECTIONS
***************************************************
**************************************************/

    
#teachercontainer, #lessons, .contact-desktop, #monthly, #tuition-desktop {
display: -webkit-flex;
display: flex;
width: 100%;
/*background-color: white;*/
padding: 0;
}
    

    
 .formatting {
        width: 66.6666667%;
        padding: 80px 50px;  
        max-width: 750px;
        font-size: 1.2em;
        line-height: 1.55em;
    }
    
.formatting-header {
width: 66.6666667%;
padding: 50px 10px 50px 20px;  
max-width: 775px;
font-size: 1.3em;
line-height: 1.8em;
    }
    
.formatting-header2 {
width: 66.6666667%;
padding: 20px 10px 20px 10px;  
max-width: 775px;
font-size: 1.3em;
line-height: 1.8em;
    }
    
    #signature {
       height: 172.77px;
        width: 279.65px;
     background: url(../images/signature.svg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
        margin: 0 auto 40px auto;
        
    }
    
    
.contact-box {
width: 33.3333333%;   
padding: 60px 40px 60px 40px;  
    margin: 0;
    }
    
.tuition-box {
 width: 33.3333333%;   
padding: 45px 40px 45px 40px;  
    margin: 0;   
    }
    
    
#review-pic1 {
  width: 50%;
background: url(../images/review-pic1.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
        
    }   
    
#levelpic {
    width: 33.3333333%;
background: url(../images/levelpic.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
        
    }
    
    #tuition-pic {
    width: 33.3333333%;
background: url(../images/tuitionpic.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
        
    }

    
#lessonside {
    width: 33.3333333%;
background: url(../images/lessonpic.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
        
    }


#monthlypic {
         width: 33.3333333%;
background: url(../images/monthlypic.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
}

#matthewimage {
        width: 33.3333333%;
background: url(../images/matthewimage.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
    }



    
    
/**************************************************
***************************************************
Landing Page Styling and Header
***************************************************
**************************************************/
     
#home {
width: 100%;
height: 100vh; 
position: relative;
display: inherit;
opacity: none;
background: url(../images/img-resize.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
}  
        
#opening h2 {           
font-size: 5em;
text-decoration: none;
    padding: 0;
}

#opening {
background-color: transparent;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
height: 400px;
/*    background-color: red;*/
    
}
    
  
#statement {
        
width: 100%;
margin: 0 auto;
/*color: #d64d2b;*/

}
.header-nav {
    display: inline;
      color: white;  
        font-size: 2.5em;
color: white;
font-family: 'Playfair Display', serif;
    letter-spacing: .03em;
margin: 0 0 0 20px;
/*font-family: 'Open Sans', sans-serif;*/
font-weight: 100;
    align-self: center;
    }
    
#statement h2 {
        
color: white;
    margin-bottom: -15px;
    margin-top: 50px;
/*
-webkit-margin-before: 50px;
-webkit-margin-after: -15px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px; 
*/
font-family: 'Playfair Display', serif;
 letter-spacing: .015em;       
}

#opening p {
text-align: center;
font-size: 1.45em;
/*line-height: 1.2em;*/
/*
    -webkit-margin-before: -100px;
-webkit-margin-after: 50px;
*/

    font-family: 'Open Sans', sans-serif;
margin: 0 auto;
/*font-family: 'PT Sans Narrow', sans-serif;*/
/*font-family: 'Arvo', serif;*/
color: #d64d2b;
    font-weight: 400;
     }
    
    
a#learn {
   display: -webkit-flex;
width: 170px;
height: 40px;
padding: 8px 35px 8px 43px;
background-color: hsla(0, 0%, 0%, 0.62);
font-size: 16px;
margin: 75px auto 0 auto;
color: white;
text-align: center;
    font-family: 'Open Sans', sans-serif;

}
    
    
 
    
/**************************************************
***************************************************
Secondary Page Header styling AND Images
***************************************************
**************************************************/
 

.home2 {
width: 100%;
height: 35vh; 
position: relative;
opacity: none;
    display: inherit;
}
    
    
#lessondesktop {

background: url(../images/lessondesktop.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
    
}
    
#reviewdesktop {
    
background: url(../images/review-desktop.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
    
}
    
#tuitiondesktop-pic {
    
background: url(../images/tuitiondesktop.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
    
}
    
    #contact-desktop {
    
background: url(../images/contactdesktop.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
    
}
    
.opening1 {
/*background-color: transparent;*/
/*
margin-right: auto;
position: absolute;
*/
/*top: 0; left: 0; bottom: 0; right: 0;*/
/*height: 200px;*/
    width: 100%;
}
    
.opening1 h2 {           
font-size: 4.5em;
color: white;
font-family: 'Playfair Display', serif;
    letter-spacing: .03em;
    margin-top: -55px;
    margin-left: 75px;
/*font-family: 'Open Sans', sans-serif;*/
font-weight: 100;
    text-align: left;
}

/*
.background-black {
 width: 100%;
    height: 100%;
background-color: hsla(0, 0%, 0%, 0.62);
background-color: hsla(0, 0%, 67%, 0.82);
   z-index: 300;
}
    
*/
}
